@font-face
{
	font-family: 'DroidSans';
	src: url('../fonts/DroidSans.ttf') format('truetype'),
	url('../fonts/DroidSans.eot') format('embedded-opentype');
	font-weight: normal;
	font-style: normal;
}
@font-face
{
	font-family: 'DroidSansBold';
	src: url('../fonts/DroidSans-Bold.ttf') format('truetype');
}


body
{
	background-color: #212128;
	margin: 0px;
	font-family: DroidSans, Arial;
	color: white;
}

#header
{
	padding: 10px;
	border-bottom: 1px solid #444454;
	margin: 0px;
	display: block;
}

#header-left, #header-right
{
	display: block;
}

#header-left
{
	float: left;
	margin-left: 10px;
}

#header-right
{
	float: right;
	margin-right: 10px;
	opacity: .5;
}

#content
{
	margin: 20px;
}

#stats_box
{
	padding: 20px;
	width: 300px;
	background-color: #CCCCCC;
	color: #111122;
}
