body
{
	background-color: #212128;
	margin: 0px;
}

#header
{
	padding: 10px;
	border-bottom: 1px solid silver;
	margin: 0px;
	display: block;
}

#header-left, #header-right
{
	display: block;
}

#header-left
{
	float: left;
	margin-left: 10px;
}

#header-right
{
	float: right;
	margin-right: 10px;
	opacity: .5;
}
